<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641904658369-19ui9q1tou1a7g0go5pc604vv60ghhd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641904658369-19ui9q1tou1a7g0go5pc604vv60ghhd2</string>
	<key>API_KEY</key>
	<string>AIzaSyCc0B0q2PyPmvlCWnaEqqW-x4DA1CHysRI</string>
	<key>GCM_SENDER_ID</key>
	<string>641904658369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ulearningApp</string>
	<key>PROJECT_ID</key>
	<string>ulearning-app-643b5</string>
	<key>STORAGE_BUCKET</key>
	<string>ulearning-app-643b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641904658369:ios:608249dca156eaaec85140</string>
</dict>
</plist>